body {
  background-color: #b2e4d5;
  color: #4f1c4c;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.city {
  font-size: 50px;
  text-align: center;
}

.date {
  list-style-type: none;
  font-size: 19px;
}
.description {
  list-style-type: none;
  font-size: 18px;
}
.humidity {
  position: relative;
  top: -85px;
  left: 230px;
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
}
.wind {
  position: relative;
  top: -85px;
  left: 230px;
  list-style-type: none;
  font-weight: bold;
  font-size: 15px;
}
.number {
  font-size: 40px;
}
.celsius {
  position: relative;
  top: -15px;
  font-size: 15px;
}
ul {
  margin: 0 auto;
  padding: 0;
}
.weather-app {
  display: block;
  max-width: 458px;
  margin: 18px auto;
  padding: 10px;
  border: 5px solid #45171d;
  border-radius: 10px;
}
.link {
  position: relative;
  bottom: -50px;
}
.numberTemperature {
  font-size: 12px;
  text-align: center;
}
.weather-date {
  text-align: center;
  font-size: 18px;
}
.weather-temperature-min {
  opacity: 0.4;
}
.weather-forecast {
  display: inline-flex;
  text-align: center;
  margin: 2px auto;
  width: 480px;
  position: relative;
  left: 55px;
}
