body {
  background-color: #c3bef0;
  color: #005792;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.city {
  font-size: 50px;
  text-align: center;
}

.date {
  list-style-type: none;
  font-size: 19px;
}
.description {
  list-style-type: none;
  font-size: 18px;
}
.humidity {
  position: relative;
  top: -100px;
  left: 290px;
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
}
.wind {
  position: relative;
  top: -100px;
  left: 290px;
  list-style-type: none;
  font-weight: bold;
  font-size: 15px;
}
.number {
  font-size: 40px;
}
.celsius {
  position: relative;
  top: -15px;
  font-size: 15px;
}
ul {
  margin: 0 auto;
  padding: 0;
}
.weather-app {
  max-width: 580px;
  margin: 20px auto;
  padding: 20px;
  border: 5px solid #45171d;
  border-radius: 10px;
}
.link {
  position: relative;
  bottom: -50px;
}
.numberTemperature {
  font-size: 12px;
  text-align: center;
}
.days {
  text-align: center;
  font-size: 15px;
}
.weather-temperature-min {
  opacity: 0.4;
}
